
/* .search-icon{

    color: #ead0b0;
} */


.list{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 0.8rem;
    color:rgb(234, 208, 176);
    
}

.list:hover{
    color:rgb(113 63 18);
            background-color: white;
    
   
}
.left-item{
  
    border-left: 0.25px solid rgb(234, 208, 176);

}
.right-item{
  
    border-right: 0.25px solid rgb(234, 208, 176);

}